NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
E2E_STUDENT_EMAIL=
E2E_STUDENT_PASSWORD=
E2E_ADMIN_EMAIL=
E2E_ADMIN_PASSWORD=
